:root{
    --white: #fff;
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    --dark-charchoal: hsl(24, 5%, 18%);
    --wenged-brown: hsl(30, 10%, 34%);
    --light-gray: hsl(30, 18%, 87%);
    --eggshell: hsl(30, 54%, 90%);
    --rose-white: hsl(330, 100%, 98%);
}

body{
    background-color: var(--eggshell);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: clamp(200px, 70vw, 800px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 23px;
    background-color: var(--white);
}

figure img{
    width: 100%;
    height: clamp(100px, 40vw, 500px);
    object-fit: cover;
}
.main-content{
    margin: auto;
}

h1.title{
    font-size: clamp(24px, 3vw, 36px);
    font-family: Young serif;
    color: var(--dark-charchoal);
}
p.text1{
    font-size: clamp(14px, 2vw, 19px);
    font-family: Outfit;
    line-height: 1.5;
    color: var(--wenged-brown);
}
.preparation{
    background-color: var(--rose-white);
    padding: 20px;
    font-family: Outfit;
}
.preparation > h2{
    color: var(--dark-raspberry);
    font-size: clamp(16px, 2vw, 20px);
}
.preparation > ul, .ingredients > ul{
    line-height: 2;
    font-family: Outfit;
    font-size: clamp(14px, 2vw, 16px);
}
.preparation > ul li, .ingredients > ul li{
    color: var(--dark-charchoal);
}
.ingredients h1, .instructions h1{
    font-family: Young serif;
    color: var(--nutmeg);
    font-size: clamp(24px, 3vw, 36px);
}
.text2{
    color: var(--wenged-brown);
    font-size: clamp(14px, 2vw, 16px);
}
.instructions ol {
    font-family: Outfit;
}
.instructions ol li{
    color: var(--nutmeg);
    font-weight: 700;
}
.text3{
    color: var(--dark-charchoal);
    line-height: 2.5;
}
.details{
    color: var(--wenged-brown);
    font-weight: 400;
    font-size: clamp(15px, 2vw, 16px);
}
.nutrition h1{
    font-family: Young serif;
    font-size: clamp(24px, 3vw, 36px);
    color: var(--nutmeg);
}
.nutrition p{
    font-family: Outfit;
    color: var(--wenged-brown);
    font-size: clamp(15px, 2vw, 16px);
}
table{
    width: 100%;
    color: var(--wenged-brown);
    font-family: Outfit;
    margin-bottom: 20px;
    border-collapse: collapse;
}
.amount{
    color: var(--nutmeg);
    font-weight: 700;
}
td{
    font-size: clamp(12px, 2vw, 16px);
}
